/* Form Container Styles */
.form-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container h1 {
    color: #000000;
}

.form-container label {
    display: inline-block;
    margin:  0px 0;
    color: #000000;
    font-size: 20px;
}

.form-container input[type="text"],
.form-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #333;
    border-radius: 5px;
}

.form-container button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    align-self: center;
    width: auto;
  display: block;
  margin: 0 auto;
}

/* Custom Styles for Dropdown List */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

/* Style the dropdown arrow */
select::after {
    content: '\25BC'; /* Down arrow character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #333;
    pointer-events: none;
}

/* Add this CSS to your stylesheet */


